body{
    background-color: hsl(270, 20%, 96%);
    margin: 0;
    padding: 0;
    font-size: 11px;
    
}
section{
    position: absolute;
    background-color: hsl(270, 20%, 96%);
    border: 15px solid White;
    border-radius: 30px;
    width: 250px;
    margin-left: 250px;
    top: 50px;
    min-height: 450px;
    overflow: hidden;
    
}
figure{
   margin: 5px;
}
figure, p{
 font-size: 9px;
}
.small-white{
    width: 100px;
    background: white;
    height: 10px;
    border-radius: 0 0 15px 15px;
    position: absolute;
    left: 70px;
    z-index: 10;
}
.white{
    position: relative;
    width: 120px;
   background: white;
   height:fit-content ;
    border-radius: 50px;
    color:black;
    padding: 10px;
    left: 100px;
    margin: 5px 50px 5px 5px;
}
.light-purple{
    background-color: hsl(276, 100%, 81%);
    width: 130px;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
    color: hsl(271, 36%, 24%);
    margin-right: 100px;
   
}
.light-purple-big{
    background-color: hsl(276, 100%, 81%);
    width: 100px;
    height: 35px;
    padding: 15px;
    border-radius: 40px; 
    padding-top: 5px;
    color: hsl(300, 33%, 1%);
    margin: 0 0 5px 5px;
}
.img{
    border-radius: 10px;
    width: 20%;
   position: relative;
   left: 90px;
   
     
}
header{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, hsl( 264, 100%, 61%), hsl(293, 100%, 63%));
   width: 100%;
    border-radius: 20px 20px 5px 5px;
    margin-left: 0;
    margin-top: 0;
    
}
.samuel{
    border-radius: 50%;
    width:100% ;
    border: 2px solid white;
}
.info{
    display : flex;
}
.info .samuel{
    width:30px;
    margin : auto .8rem 5px;
}
.info .samuel img{
    width: 100%;
    border : white 3px solid;
    border-radius: 50%;
   
}
h2{
    padding-top: 10px;
    font-size: 15px;
    font-weight: 700;
    color: white;
}
.details,p{
    font-size: 10px;
   color: hsl(276, 100%, 81%)
}
h4{
    color: hsl(270, 7%, 64%);
    font-weight: normal;
    width: 70%;
    font-size: 16px;
}

.details{
    margin-top: 10px;
    line-height: 5px;
    
}
.fa-chevron-left{
    position: relative;
   color: white;
margin: 10px;
   top: 12px;
}
svg{
position: absolute;
right: 18px;
top: 30px;
fill: white;
}
article{
position: absolute;
top: 300px;
left: 800px;
}
h1{
color: hsl(271, 36%, 24%);
font-size: 50px;
margin: 0;
}
.background{
 background: hsl(264, 100%, 61%) ;
width: 25%;
height: 600px;
border-radius: 0 0 150px 150px;
}
button{
    background-color: white;
    border-radius: 15px;
    color: hsl(270, 7%, 64%);
    border: none;
    height: 40px;
    width: 200px;
    margin: 0 0 5px 5px;
}
.price{
    background: linear-gradient(to right, hsl(293, 100%, 63%), hsl( 264, 100%, 61%));
    color: white;
    width: 70%;
    height: 30px;
    margin-top: 5px;
    border-radius: 10px 10px 10px 5px;
    padding-top:10px ;
    margin-left: 5px;
    text-align: center;
}
.fa-circle-chevron-right{
    color: hsl(271, 36%, 24%);
    font-size: 20px;
    padding-left: 50px;
}
.no1{
    padding-left: 50px;
    font-weight: bold;
    font-size: 16px;
}
.no2{
    font-weight: bold;
    padding-left: 70px; 
    font-size: 16px; 
}
.fa-circle{
    padding-right: 6px;
}
@media screen and (max-width:1122px){
    article{
        top: 300px;
        left: 550px;
        }
}
@media screen and (max-width:900px){
    article{
        top: 300px;
        left: 450px;
        }
        section{
            margin-left: 150px;
        }
}
@media screen and (max-width:700px){
    article{
        top: 650px;
        left: 30px;  
        }
        section{
            margin-left: 100px;
        }
}
@media screen and (max-width:400px){
        section{
            margin-left: 80px;
        }
        .can{
            padding: 15px;
        }
        .light-purple-big{
            padding: 25px;
        }
}