section{
    background-color: var(--Light-Grayish-Violet);
    position: absolute;
    border: 15px solid var(--White);
    border-radius: 30px;
    top: 85px;
    right: 50px;
    z-index: 3;
    margin: 0 auto;
    width: 250px;
}
.white{
    width: 200px;
    background-color: white;
    height: 30px;
    padding: 20px;
    border-radius: 50px;
    color:black;
}
.light-purple{
    background-color: hsl(276, 100%, 81%);
    width: 200px;
    height: 30px;
    padding: 20px;
    border-radius: 50px;
    color: hsl(271, 36%, 24%);
}
.light-purple-big{
    background-color: hsl(276, 100%, 81%);
    width: 200px;
    height: 35px;
    padding: 25px;
    border-radius: 40px; 
    padding-top: 10px;
    color: hsl(271, 36%, 24%);
}

.samuel{
    border-radius: 50%;
    width:15%
}
img{
    border-radius: 20px;
    width: 7%;
}
h4{
    color: hsl(270, 7%, 64%);
    font-weight: normal;
}
